<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-common.xml"/>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestinationName" value="queue.test.request"/>
        <property name="deliveryMode" value="#{T(com.tibco.tibjms.TibjmsDeliveryMode).RELIABLE}"/>
        <property name="explicitQosEnabled" value="false"/>
    </bean>

    <bean class="com.demo.test.Sender">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>
</beans>